@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 20;
  padding: 0;
  background-color: #efefef;
  scroll-behavior: smooth;
  caret-color: transparent;
}

/* main logo / nav ---------------------- */
#namelogo {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

li, button {
    color: rgb(255, 255, 255);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);

}

#back_1 {
    background-color: black;
}

/* hero banner ---------------------------- */
#hero_image {
display: block;
padding-top: 4%;
margin-left: auto;
margin-right: auto;
width: 60%;
border-radius: 5%;
border-top-left-radius: 5%;
border-top-right-radius: 5%;
}

/* about me ---------------------------- */
.about_me_sec {
    display: flex;
    justify-content: center;
    padding: 6%;
    gap: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    align-items: center;
}

.about_me_sec #image_of_me {
    width: 300px;
}

/* portfolio container -------------------- */
#portfolio_section, h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-bottom: 1%;
    font-size: 20px;
}

.portfolio_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 20%;
}

.portfolio_container img {
    border-radius: 6%;
}


/* contact me -------------------- */
#contact_me_section, h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20px;
}

.contact_me {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    gap: 2rem;
    padding-bottom: 5%;
}


/* media query -------------------- */
@media (max-width: 1000px) {

/* m_q main logo / nav ------------------ */
header {
    display: grid;
    justify-content: center;
}

#namelogo {
    margin: auto;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* m_q hero banner ------------------ */
#hero_image {
    display: none;
}


/* m_q about me ------------------ */
.about_me_sec {
    display: block;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;

}

.about_me_sec #image_of_me {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-bottom: 1%;
}


/* m_q portfolio container -------------- */
.portfolio_container {
    display: grid;
    justify-content: center;
}

.portfolio_container img {
    border-radius: 6%;
}


/* m_q contact me -------------------- */
.contact_me {
    font-size: 15px;
}

}
