@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

/* Header ------------------------------ */
#namelogo {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

li, button {
    color: rgb(255, 255, 255);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);

}

#back_1 {
    background-color: black;
}

/* hero */

#hero_image {
display: block;
padding-top: 9%;
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 5%;
border-top-left-radius: 5%;
border-top-right-radius: 5%;

}